workflows/core/02-greeting-flow.workflow.json
{
  "name": "JERRYTECH - 02 Customer Greeting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0002-0001-0002-000000000001",
      "name": "Webhook - Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "jerrytech-whatsapp-messages"
    },
    {
      "parameters": {
        "jsCode": "// Extract the incoming WhatsApp message from Meta's webhook payload.\n// Meta also sends status update events (delivered, read, etc.).\n// We return [] for those so the workflow stops — no greeting needed.\n\nconst body = $input.first().json.body;\n\n// Stop if this is not a message event\nif (!body?.entry?.[0]?.changes?.[0]?.value?.messages) {\n  return [];\n}\n\nconst value   = body.entry[0].changes[0].value;\nconst message = value.messages[0];\nconst contact = value.contacts?.[0];\n\n// Only handle text messages here. Button replies go to later flows.\nif (message.type !== 'text') {\n  return [];\n}\n\nreturn [{\n  json: {\n    from:          message.from,\n    messageId:     message.id,\n    messageText:   message.text?.body || '',\n    customerName:  contact?.profile?.name || 'there',\n    phoneNumberId: value.metadata.phone_number_id,\n    timestamp:     message.timestamp\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build the WhatsApp interactive button message payload for the JERRYTECH greeting.\n// Button titles must be ≤20 characters each.\n\nconst { from, customerName, phoneNumberId } = $input.first().json;\n\nconst payload = {\n  messaging_product: 'whatsapp',\n  recipient_type:    'individual',\n  to:                from,\n  type:              'interactive',\n  interactive: {\n    type: 'button',\n    body: {\n      text: `Hi ${customerName}! 👋 Welcome to *JERRYTECH Phone Repairs*. 📱\\n\\nWe fix phones fast & affordably.\\nHow can we help you today?`\n    },\n    footer: {\n      text: 'Tap a button below to get started'\n    },\n    action: {\n      buttons: [\n        { type: 'reply', reply: { id: 'book_appointment', title: 'Book Appointment'   } },\n        { type: 'reply', reply: { id: 'check_status',     title: 'Check Repair Status' } },\n        { type: 'reply', reply: { id: 'get_quote',        title: 'Get a Quote'         } }\n      ]\n    }\n  }\n};\n\nreturn [{ json: { phoneNumberId, payload } }];"
      },
      "id": "b2c3d4e5-0002-0003-0002-000000000003",
      "name": "Build Greeting Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name":  "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name":  "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody":    true,
        "specifyBody": "json",
        "jsonBody":    "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0004-0002-000000000004",
      "name": "Send Greeting via WhatsApp API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook - Receive Message": {
      "main": [
        [{ "node": "Extract Message Data",      "type": "main", "index": 0 }]
      ]
    },
    "Extract Message Data": {
      "main": [
        [{ "node": "Build Greeting Payload",    "type": "main", "index": 0 }]
      ]
    },
    "Build Greeting Payload": {
      "main": [
        [{ "node": "Send Greeting via WhatsApp API", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
